.houses {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  max-width: fit-content;
}
.houses li {
  position: relative;
  cursor: pointer;
}

.houses li:hover {
  left: 0.1em;
}

.houses a {
  color: #333;
  text-decoration: none;
  background-color: #eee;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.houses a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.houses a:active {
  background-color: #525252;
  color: #fafafa;
}

.houses .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}
